@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Bienvenido";
}

<div class="text-center mt-5">
    <h1 class="display-4">¡Bienvenido a SportsRentalManagement!</h1>
    <p class="lead">Gestione usuarios, reservas, pagos, facturación y equipos desde un solo lugar.</p>
</div>
